<nav class="navbar navbar-expand-lg navbar-dark header">
  <a class="navbar-brand" href="#">Incentro Geofencing App</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Nieuws<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">In de buurt</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kaart</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Chats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Overig</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Uitloggen</a>
      </li>
    </ul>
  </div>
</nav>
