<!--The content below is only a placeholder and can be replaced.-->
<app-login></app-login>



<!--<app-header></app-header>-->
<!--<div class="container align-content-center all-content">-->
  <!--<app-news></app-news>-->
<!--</div>-->


