<ul
  style="cursor: pointer"
  class="list-group newslist">

  <li class="list-group-item date-timestamp">
    {{newsitem.date + ' ' + newsitem.time}}
  </li>
  <li class="list-group-item">
    {{newsitem.firstName + ' ' + newsitem.lastName + ' ' + 'at' + ' ' + newsitem.nameClient}}
  </li>
  <li class="list-group-item">
    {{newsitem.newsSort}}
  </li>
  <li class="list-group-item">
    {{newsitem.newsDescription}}
  </li>
  <li class="list-group-item">
      {{newsitem.numberReactions + ' ' + 'reactions'}}
  </li>

</ul>
