<div class="container">
  <div class="row">
    <div class="col-sm-12 header">
      <img
      src="assets/images/smartphone.png"
      alt="smartphone"
      width="64px"
      height="64px"
      class="img-fluid">

      <h1> Incentro Geofencing App </h1>
    </div>
  </div>


    <div class="col-sm-12 loginbutton">
    <button
      class="g-signin2">
      Login
    </button>
  </div>

</div>
