<!--This is the list of the different news item-->

<div class="row">

  <div class="col-lg-6 offset-lg-3" *ngFor="let newsitem of newsitems; let i = index">

    <app-news-item

      [newsitem]="newsitem">

    </app-news-item>
  </div>
</div>

